@import "tailwindcss";

:root[data-theme="default"],
:root[data-theme="light"],
:root[data-theme="dark"] {
  --color-bg: #212121;
  --color-text: #aaaaaa;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
